<section>
  <div class="page-header">
    <h3><span ng-bind="vm.mail.subject"></span><small> Sent To <span ng-bind="vm.mail.email"></span></small></h3>
    <br>
    <div id="mailDetails">
      <p>Subject :<strong>{{vm.mail.subject}}</strong> </p>
      <p>To : {{vm.mail.email}}</p>
      <p>Message : {{vm.mail.message}}</p>
    </div>
  </div>
  <div class="pull-right"
       ng-show="vm.mail.isCurrentUserOwner">
    <a class="btn btn-primary" ng-click="vm.sendMail()">
      <i class="glyphicon glyphicon-ok-sign"></i>
    </a>
    <a class="btn btn-primary"
       ui-sref="mails.edit({ mailId: vm.mail._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.mail.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.mail.user"
            ng-bind="vm.mail.user.displayName"></span>
      <span ng-if="!vm.mail.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.mail.content"></p>
</section>
