<section>
  <div class="page-header">
    <h1><span ng-bind="vm.prescription.name"></span> <small>Posted For Patient <span ng-bind="vm.prescription.patient"></span></small></h1>
   <!-- <div ng-bind="vm.prescription.frequency"></div> -->
    <br>
    <div id="print">
      <p>Frequency : {{vm.prescription.frequency}}</p>
      <p>Dosage : {{vm.prescription.dosage}}</p>
      <p>Period : {{vm.prescription.period}}</p>
      <p>Quantity : {{vm.prescription.quantity}}</p>
      <p>Tags : <strong>{{vm.prescription.tags}}</strong></p>
    </div>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ng-click="vm.printDispense('print')">
      <i class="glyphicon glyphicon-ok-sign"></i>
    </a>
    <a class="btn btn-primary"
       ui-sref="prescriptions.edit({ prescriptionId: vm.prescription._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.prescription.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.prescription.user"
            ng-bind="vm.prescription.user.displayName"></span>
      <span ng-if="!vm.prescription.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.prescription.content"></p>
</section>
