<section>
  <div class="page-header">
    <h1>Suppliers</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="supplier in vm.suppliers"
       ui-sref="suppliers.view({ supplierId: supplier._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="supplier.created | date:'mediumDate'"></span>
        by
        <span ng-if="supplier.user" ng-bind="supplier.user.displayName"></span>
        <span ng-if="!supplier.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="supplier.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.suppliers.$resolved && !vm.suppliers.length">
    No Suppliers yet, why don't you <a ui-sref="suppliers.create">create one</a>?
  </div>
</section>
