<section>
  <div class="page-header">
    <h1>{{vm.drug._id ? 'Edit Drug' : 'Add New Drug'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.drugForm" class="form-horizontal" ng-submit="vm.save(vm.form.drugForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="category"> Drug Category</label>
          <select name="category" type="text" ng-model="vm.drug.category" id="category" class="form-control"  required>
            <option value="">----All----</option>
            <option value="Narcotics">Narcotics</option>
            <option value="Drugs used in treatment of injection">Drugs used in treatment of injection</option>
            <option value="Drugs used in treatment of Cardiovascular system">Drugs used in treatment of Cardiovascular system</option>
            <option value="Drugs acting on the central nervous syatem">Drugs acting on the central nervous syatem</option>
          </select>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="drug_name"> Add Received Drug</label>
          <select name="drug_name" type="text" ng-model="vm.drug.drug_name" id="drug_name" class="form-control"  required>
            <option value="Ampicllin">Ampicllin</option>
            <option value="Ampicllin_250mg">Ampicllin 250mg</option>
            <option value="Afrin">Afrin</option>
            <option value="Losartan">Losartan</option>
            <option value="Panadol">Panadol</option>
          </select>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="Batch_Number">Batch Number:</label>
          <input name="Batch_Number" type="text" ng-model="vm.drug.Batch_Number" id="Batch_Number" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.drugForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Drug name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="Type"> Type:</label>
          <select name="Type" type="text" ng-model="vm.drug.Type" id="Type" class="form-control"  required>
            <option value="">----Please select a type----</option>
            <option value="Cartoons">Cartoons</option>
            <option value="Bottles">Bottles</option>

          </select>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="Content"> Content:</label>
          <select name="Content" type="text" ng-model="vm.drug.Type" id="Content" class="form-control"  required>
            <option value="">----Select----</option>
            <option value="Cartoons">Tablet</option>
            <option value="Bottles">Liquid</option>

          </select>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="Quantity">Quantity</label>
          <textarea name="Quantity" type="text" ng-model="vm.drug.Quantity" id="Quantity" class="form-control" placeholder="Quantity" required></textarea>
          <div ng-messages="vm.form.drugForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Quantity is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <input type="date" id="exampleInput" name="input" ng-model="example.value"
                 placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required />
          <label class="control-label" for="tags">Manufacture Date:</label>
          <textarea name="tags" type="text" ng-model="vm.drug.tags" id="tags" class="form-control" placeholder="Tags" required></textarea>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.drug._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
