<section>
  <div class="page-header">
    <h1>Drug Stock</h1>
  </div>

  <form class="form-inline">
    <div class="form-group">
      <label >Search</label>
      <input type="text" ng-model="search" class="form-control" placeholder="Search">
    </div>

  </form>
  <br>

  <fieldset>
    <div>
      <table class="table table-striped">
        <tr >
          <td><b>Name</b></td>
          <td><b>Type</b></td>
          <td><b>Category</b></td>
          <td><b>Quantity</b></td>
          <!--<td><b>Send Mail</b></td>-->
        </tr>
        <tr ng-repeat="drug in vm.drugs|filter:search">
          <td>{{drug.name}}</td>
          <td>{{drug.types}}</td>
          <td>{{drug.category}}</td>
          <td>{{drug.quantity}}</td>
          <!--<td><button class="btn btn-primary" href="http://localhost:3000/mails/create">Place Order</button></td>-->

        </tr>
      </table>

    </div>
  </fieldset>
</section>
