<section>
  <div class="page-header">
    <h1><span ng-bind="vm.drug.names"></span>
      <small>Posted in <span ng-bind="vm.drug.category"></span></small>
    </h1>

    <div id="print" class="list-group">
      <ul class="b">
        <li>Drug Quantity: {{vm.drug.quantity | limitTo:100}}</li>
        <li>Drug Name:{{vm.drug.name}}</li>
        <li>Drug Type:{{vm.drug.types}}</li>
        <li>Drug Category:{{vm.drug.category}}</li>
        <li>Batch No:{{vm.drug.batchNo}}</li>
        <li>Manufacture Date:{{vm.drug.manufactureDate}}</li>
        <li>Expire Date:{{vm.drug.expireDate}}</li>
      </ul>
    </div>

    <div class="pull-right"
         ng-show="vm.drug.isCurrentUserOwner">
      <a class="btn btn-primary" ng-click="vm.printDrug('print')">
        <i class="glyphicon glyphicon-ok-sign"></i>
      </a>


      <a class="btn btn-primary"
         ui-sref="drugs.edit({ drugId: vm.drug._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <small>
      <em class="text-muted">
        Posted on
        <span ng-bind="vm.drug.created | date:'mediumDate'"></span>
        by
        <span ng-if="vm.drug.user"
              ng-bind="vm.drug.user.displayName"></span>
        <span ng-if="!vm.drug.user">Deleted User</span>
      </em>
    </small>

  </div>
</section>
