<section>
  <div class="page-header">
    <h1>Drug Stock</h1>
  </div>

  <fieldset>
    <div>
      <table class="table table-striped">
        <tr >
          <td><b>Name</b></td>
          <td><b>Type</b></td>
          <td><b>Category</b></td>
          <td><b>Quantity</b></td>
          <td><b>Price(Rs.)</b></td>
          <td><b>Send Mail</b></td>
        </tr>
        <tr ng-repeat="drug in vm.drugs">
          <td>{{drug.name}}</td>
          <td>{{drug.types}}</td>
          <td>{{drug.category}}</td>
          <td>{{drug.quantity}}</td>
          <td>{{drug.price}}</td>
          <td><button class="btn btn-primary" ng-click="">Place Order</button></td>

        </tr>
      </table>

    </div>
  </fieldset>
</section>
