<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
  <table class="table table-striped">
    <tr >
      <td>Request ID</td>
      <td>Drug ID</td>
      <td>Drug Name</td>
      <td>Requested Quantity</td>
      <td>Available Quantity</td>
      <td>Date</td>
      <td>Department</td>
      <td>Status</td>
      <td>Approved Quantity</td>
      <td>Approve</td>

    </tr>
    <tr ng-repeat="request in vm.requests"  >
      <td>{{request.requestId}}</td>
      <td>{{request.drugId}}</td>
      <td><button class="btn btn-primary" ui-sref="drugs.edit({ drugId:drug._id })" ng-click="">Edit</button></td>
      <td><button class="btn btn-primary" ng-click="">View</button></td>
      <td><button class="btn btn-primary" ng-click="vm.removeInArray($index)">Delete</button>{{$index}}</td>


    </tr>
  </table>
</div>

</body>
</html>
