<section>
  <div class="page-header">
    <h3>New Drug Added</h3>
    <h3><span ng-bind="vm.drug.name"></span> <small>Posted on <span ng-bind="vm.drug.category"></span></small></h3>
    <!--<div ng-bind="vm.drug.body"></div>
    <br>
    <p>Tags : <strong>{{vm.drug.tags}}</strong></p>
  </div>-->
    <div id="print">
      <!--<p>Frequency : {{vm.drug.idd}}</p>-->
      <!--<p>Dosage : {{vm.drug.quantity}}</p>-->
      <!--<p>Period : {{vm.drug.types}}</p>
      <p>Quantity : {{vm.drug.category}}</p>
      <p>Tags : <strong>{{vm.drug.batchNo}}</strong></p>-->
      <!--<p id="drugsD">Drug Quantity: {{drug.quantity | limitTo:100}}
        Drug Name:{{drug.name}} Drug Type:{{drug.types}} Drug Category:{{drug.category}}</p>-->

      <p id="drugsD">Drug Quantity: {{vm.drug.quantity | limitTo:100}}
        Drug Name:{{vm.drug.name}} Drug Type:{{vm.drug.types}} Drug Category:{{vm.drug.category}}</p>
      <!--<p> Batch No:{{vm.drug.batchNo}}Manufacture Date:{{vm.drug.manufactureDate}}
        Expire Date:{{vm.drug.expireDate}}</p>-->
    </div>

  <div class="pull-right"
       ng-show="vm.drug.isCurrentUserOwner">
<!--    <a class="btn btn-primary" ng-click="vm.printDrug('print')">
      <i class="glyphicon glyphicon-ok-sign"></i>
    </a>-->


    <a class="btn btn-primary"
       ui-sref="drugs.newDrugEdit({ drugId: vm.drug._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
<!--    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>-->
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.drug.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.drug.user"
            ng-bind="vm.drug.user.displayName"></span>
      <span ng-if="!vm.drug.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.drug.content"></p>
  </div>
</section>
